* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Caslon Display", serif;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

ul {
  list-style: none;
}

.titulo {
  font-size: 60px;
  margin: 40px 0;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 6px;
  width: 128px;
  border: 1px solid #303030;
  outline: none;
  color: #000;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  transition: all ease 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background: #303030;
  border: 1px solid #ccc;
}

.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  z-index: 100;
  transition: all ease 0.9s;
}
.navbar .iconos {
  display: none;
}
.navbar .iconos .open, .navbar .iconos .close {
  display: none;
}
.navbar .menu {
  display: flex;
}
.navbar .menu a {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-left: 20px;
  transition: all 0.3s ease 0.1s;
}
.navbar .menu a:hover {
  color: #b6b6b6;
  text-decoration: blink;
  transform: scale(1.2);
}
.navbar .logo {
  width: 60px;
  height: 60px;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
}

.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(../img/11333.jpg);
  background-position: center;
  background-size: cover;
}
.hero .slide {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  animation: slide 2s ease;
}
.hero .slide .container-slide {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .slide .container-slide .caption {
  width: 50%;
}
.hero .slide .container-slide .caption h1 {
  opacity: 0;
  font-size: 60px;
  letter-spacing: 3px;
  color: #fff;
  margin: 0 auto;
  animation: captionText 0.3s ease-in forwards;
  animation-delay: 1.8s;
}
.hero .slide .container-slide .caption p {
  opacity: 0;
  font-size: 38px;
  letter-spacing: 4px;
  margin: auto;
  color: #ffffff;
  animation: captionText 0.3 ease forwards;
  animation-delay: 2.2s;
}
.hero .slide .container-slide .img {
  margin: 200px auto;
  width: 300px;
}
.hero .slide .container-slide .img img {
  width: 100%;
  height: 100%;
}
.hero .controls .prev,
.hero .controls .next {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  color: #fff;
  background-color: #303030;
  opacity: 0.8;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero .controls .prev:hover,
.hero .controls .next:hover {
  background: #000;
}
.hero .controls .prev {
  left: 0;
}
.hero .controls .next {
  right: 0;
}
.hero .absolute {
  background: #f2f2f2;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}

.hero .slide.active {
  display: flex;
}

.container-slide {
  max-width: 1270px;
  margin: auto;
}

@keyframes slide {
  0% {
    opacity: 0.6;
    transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes captionText {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.about {
  background: #f2f2f2;
}
.about .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.about .about-us {
  text-align: center;
  font-size: 56px;
  margin-bottom: 15px;
  font-weight: 600;
}
.about .slogan {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
}
.about .parrafo {
  margin-bottom: 13px;
  font-weight: 600;
  text-align: justify;
  line-height: 24px;
  color: #181010;
}

.contenedor {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 52px 0;
}

/* Product */
.cards {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.cards .card {
  width: 29%;
  height: 300px;
  background: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  color: #fff;
  text-align: center;
}
.cards .card .image {
  height: 100%;
  transition: ease-out 0.5s;
}
.cards .card .image img {
  display: block;
  width: 80%;
  margin: 10px auto;
}
.cards .card .specs {
  position: relative;
  width: 100%;
  bottom: 55px;
  background: rgba(48, 48, 48, 0.9);
  transition: all ease 0.5s;
}
.cards .card .specs .text {
  padding: 10px 0;
}
.cards .card .specs .text h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}
.cards .card .specs .text p {
  padding: 0 10px;
  font-size: 18px;
  color: #ccc;
  font-weight: 300;
  margin-top: 10px;
}
.cards .card .specs .text .price {
  margin-top: 10px;
  font-weight: bold;
  color: #d6d6d6;
  font-size: 18px;
}
.cards .card a {
  border-top: 1px solid #303039;
  position: relative;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 5px;
  color: #fff;
  background: #303030;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  transition: all ease 0.5s;
  cursor: pointer;
}
.cards .card a:hover {
  background: #000;
}
.cards .card:hover .specs {
  bottom: 170px;
}
.cards .card:hover .image {
  transform: scale(1.1);
}

/* Testimonials */
.people {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/5.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
}
.people .textos {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.people .textos p {
  margin-top: 10px;
  font-size: 20px;
}

/* Contact */
.says .say {
  display: flex;
  background: #f2f2f2;
}
.says .say .image {
  width: 412px;
  height: auto;
}
.says .say .image img {
  width: 100%;
  height: 100%;
}
.says .say .textos {
  width: 50%;
  padding: 0 40px;
  margin: 0 auto;
}
.says .say .textos p {
  font-size: 20px;
}

/* Footer */
footer {
  background: #303030;
  color: #fff;
  height: 400px;
  position: relative;
}
footer h2 {
  text-align: center;
  margin-bottom: 20px;
}
footer .footer-content {
  height: 350px;
  display: flex;
  flex-wrap: wrap;
}
footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}
footer .footer-content .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-content .icon img {
  width: 250px;
  height: 250px;
}
footer .footer-content .icon .socials {
  padding: 25px 0;
}
footer .footer-content .icon .socials a {
  border: 1px solid #ccc;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 10px;
  transition: all 0.5s;
}
footer .footer-content .icon .socials a:hover {
  background: #000;
  color: #fff;
  border: none;
}
footer .footer-content .categories ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-content .categories ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 45px;
  transition: all 0.5s;
}
footer .footer-content .categories ul a:hover {
  color: grey;
  transform: scale(1.1);
}
footer .footer-content .form form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}
footer .footer-content .form form .contact-footer {
  background: #252525;
  color: #fff;
  margin-bottom: 10px;
  line-height: 20px;
  padding: 10px 20px;
  width: 300px;
  border: none;
}
footer .footer-content .form form textarea {
  display: block;
  height: 150px;
  max-height: 150px;
  width: 100%;
  max-width: 300px;
}
footer .footer-bottom {
  background: #252525;
  color: #ccc;
  height: 50px;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding-top: 15px;
}

@media screen and (max-width: 1000px) {
  .navbar .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(37, 37, 37, 0.9);
    top: 50px;
    right: -100%;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.3s ease 0.1s;
  }

  .titulo {
    font-size: 40px;
  }

  .navbar .iconos {
    color: #fff;
    display: block;
    font-size: 25px;
    cursor: pointer;
  }
  .navbar .iconos .open {
    display: block;
  }
  .navbar .iconos .close {
    display: none;
  }

  .people {
    height: auto;
  }

  footer .footer-content .icon img {
    width: 200px;
    height: 200px;
  }
  footer .footer-content .categories ul a {
    font-size: 14px;
  }
  footer .footer-content .form form {
    max-width: 250px;
  }
  footer .footer-content .form form .contact-footer {
    width: 250px;
  }
}
@media screen and (max-width: 800px) {
  .hero .slide .container-slide .caption h1 {
    font-size: 40px;
  }
  .hero .slide .container-slide .caption p {
    font-size: 20px;
  }
  .hero .slide .container-slide .img {
    width: 150px;
  }

  .people .textos p {
    margin-top: 20px;
    font-size: 16px;
  }

  .cards .card {
    width: 45%;
    height: 250px;
  }

  .says .say {
    flex-direction: column-reverse;
  }
  .says .say .image {
    width: 100%;
  }
  .says .say .textos {
    width: 100%;
    margin: 0 auto 20px auto;
  }

  footer {
    height: 1100px;
  }
  footer .footer-content {
    height: 1100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-content .icon img {
    width: 250px;
    height: 250px;
  }
  footer .footer-content .categories ul a {
    font-size: 16px;
  }
  footer .footer-content .form form {
    max-width: 350px;
  }
  footer .footer-content .form form .contact-footer {
    width: 350px;
  }
  footer .footer-content .form form textarea {
    max-width: 350px;
  }
}
@media screen and (max-width: 500px) {
  .hero .container-slide {
    flex-direction: column-reverse;
    flex-grow: 0;
  }

  .people .textos p {
    margin-top: 10px;
    font-size: 14px;
  }

  .cards .card {
    width: 85%;
    height: 250px;
  }

  footer .footer-content .icon img {
    width: 150px;
    height: 150px;
  }
  footer .footer-content .icon .socials a {
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
  }
  footer .footer-content .categories ul a {
    font-size: 14px;
  }
  footer .footer-content .form {
    margin: 0;
  }
  footer .footer-content .form form {
    max-width: 150px;
  }
  footer .footer-content .form form .contact-footer {
    width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
