* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Caslon Display', serif;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

ul {
    list-style: none;
}

.titulo {
    font-size: 60px;
    margin: 40px 0;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #303030;
    outline: none;
    color: #000;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    transition: all ease .3s;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background: #303030;
    border: 1px solid  #ccc;
}


.navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    z-index: 100;
    transition: all ease .9s;
    

    .iconos {
        display: none;
        .open, .close {
            display: none;
        }
    }

    .menu {
        display: flex;
     
        a {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 3px;
            margin-left: 20px;
            transition: all 0.3s ease 0.1s;
            
        }

        a:hover {
            color: #b6b6b6;
            text-decoration: blink;
            transform: scale(1.2);
        }
        
    }

    .logo {
        width: 60px;
        height: 60px;
    
        img {
            width: 100%;
            height: 100%;
        }
    }

}

.hero {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(../img/11333.jpg);
    background-position: center;
    background-size: cover;

    .slide {
        position: absolute;
        left: 0;
        top: 0;
        z-index:1;
        display: none;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        animation: slide 2s ease;
        
        .container-slide {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .caption {
                width: 50%;

                h1 {
                    opacity: 0;
                    font-size: 60px;
                    letter-spacing: 3px;
                    color: #fff;
                    margin: 0 auto;
                    animation: captionText .3s ease-in forwards;
                    animation-delay: 1.8s
                }

                p{
                    opacity: 0;
                    font-size: 38px;
                    letter-spacing: 4px;
                    margin: auto;
                    color: #ffffff;
                    animation: captionText .3 ease forwards;
                    animation-delay: 2.2s;
                }
            }
        
        
            .img {
                
                margin: 200px auto;
                width: 300px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
      
        }


    }

    .controls .prev,
    .controls .next {
        position: absolute;
        z-index: 3;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-top: 20px;
        color: #fff;
        background-color: #303030;
        opacity: .8;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        cursor: pointer;
        transition: all .3s ease;

    }

    .controls .prev:hover,
    .controls .next:hover {
        background: #000;
    }

    .controls .prev {
        left: 0;
    }
    .controls .next {
        right: 0;
    }

    .absolute {
        background: #f2f2f2;
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        width: 100%;
        height: 150px;
        position: absolute;
        bottom: 0;
    }

}


.hero .slide.active {
    display: flex;
}

.container-slide {
    max-width: 1270px;
    margin: auto;
}


@keyframes slide {
    0%{
        opacity: 0.6;
        transform: translateX(-1000px);
       
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes captionText {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.5;
        transform: scale(.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.about {
    background: #f2f2f2;

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    .about-us {
        text-align: center;
        font-size: 56px;
        margin-bottom: 15px;
        font-weight: 600;
    
    }

    .slogan {
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 24px
    }

    .parrafo {
        margin-bottom: 13px;
        font-weight: 600;
        text-align: justify;
        line-height: 24px;
        color: rgba(24, 16,16);
    }

}

.contenedor {
    
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;

}


/* Product */

.cards {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .card {
    
        width: 29%;
        height: 300px;
        background: #fff;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-bottom: 20px;
        overflow: hidden;
        color: #fff;
        text-align: center;
   
        .image {
            height: 100%;
            transition: ease-out .5s;
         
            img {
                display: block;
                width: 80%;
                margin: 10px auto;
            }
        }

        .specs {
            position: relative;
            width: 100%;
            bottom: 55px;
            background: rgba(48, 48, 48, 0.9);
            transition: all ease .5s;
        
            .text {
                padding: 10px 0;
            
                h3 {
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    font-weight: bold;
                    width: 100%;
                }
    
                p {
                    padding: 0 10px;
                    font-size: 18px;
                    color: #ccc;
                    font-weight: 300;
                    margin-top: 10px;
                  
                }

                .price {
                    margin-top: 10px;
                    font-weight: bold;
                    color: #d6d6d6;
                    font-size: 18px;
                }
            }

         
        }

        a {
            border-top: 1px solid #303039;
            position: relative;
            bottom: 0;
            display: block;
            width: 100%;
            padding: 5px;
            color: #fff;
            background: #303030;
            text-align: center;
            text-decoration: none;
            border-radius: 3px;
            transition: all ease .5s;
            cursor: pointer
        }

        a:hover {
            background: #000;
        }
    }

    .card:hover .specs {
        bottom: 170px;
        
    }
    
    .card:hover .image {
        transform: scale(1.1);
    }
}

/* Testimonials */

.people {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;

    .textos {
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin-top: 10px;
            font-size: 20px;
        }
    }
}


/* Contact */

.says {
    .say {
        display: flex;
        background: #f2f2f2;
    
        .image {
            width: 412px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .textos {
            width: 50%;
            padding: 0 40px;
            margin: 0 auto;
            p {
                font-size: 20px;
            }

            
        }
    }

}

/* Footer */

footer {
    background: #303030;
    color: #fff;
    height: 400px;
    position: relative;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-content {
        height: 350px;
        display: flex;
        flex-wrap: wrap;

        .footer-section {
            flex: 1;
            padding: 25px;
           
        }

        .icon{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            img {
                width: 250px;
                height: 250px;
            }
            .socials {
                padding: 25px 0;
                a {
                    border: 1px solid #ccc;
                    width: 45px;
                    height: 45px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    display: inline-block;
                    font-size: 1.2rem;
                    margin-right: 10px;
                    transition: all .5s;
                }

                a:hover {
                    background: #000;
                    color: #fff;
                    border: none;
                  
                }
            }
        }

        .categories {
            
           ul {  
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
             
               a {
                display: block;
                margin-bottom: 10px;
                font-size: 20px;
                letter-spacing: 2px;
                line-height: 45px;
                transition: all .5s;
               }

               a:hover {
                    color: grey;
                    transform: scale(1.1);
               }
           }
        }

        .form {
           form {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 300px;
           
            .contact-footer{
                background: #252525;
                color: #fff;
                margin-bottom: 10px;
                line-height: 20px;
                padding: 10px 20px;
                width: 300px;
                border: none;
             
            }

            textarea {
                display: block;
                height: 150px;
                max-height: 150px;
                width: 100%;
                max-width: 300px;

            }
           }
        }


    }
    
    .footer-bottom {
        background: #252525;
        color: #ccc;
        height: 50px;
        text-align: center;
        position: relative;
        bottom: 0px;
        left: 0px;
        padding-top: 15px;
      
        
    }

}


@media screen and (max-width: 1000px) {
    .navbar {
     
        .menu {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(37, 37, 37, 0.9);
            top: 50px;
            right: -100%;
            text-align: center;
            flex-direction: column;
            justify-content: space-evenly;
            transition: all .3s ease .1s;
        }
    }

    .titulo {
        font-size: 40px;
    }


    .navbar .iconos {
        color: #fff;
        display: block;
        font-size: 25px;
        cursor: pointer;

        .open {
            display: block;
        
        }

        .close {
            display: none;
        }
    }

    .people {
        height: auto;
    
    }

    footer {
      
        .footer-content {

            .icon {
                img {
                    width: 200px;
                    height: 200px;
                }
            }
     
            .categories {
                ul {
                    a {
                        font-size: 14px;
                    }
                }
            }

            .form {
                form {
                    max-width: 250px;

                    .contact-footer {
                    
                        width: 250px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 800px) {

    .hero {
        .slide {
            .container-slide {
                .caption {
                    h1 {
                        font-size: 40px;
                    }

                    p {
                        font-size: 20px;
                    }
                }

                .img {
                    width: 150px;
                }
            }
        }
    }

    .people {
       
        .textos {
            
            p {
                margin-top: 20px;
                font-size: 16px;
            }
        }
        
    }

    .cards {
        .card {
            width: 45%;
            height: 250px;
        }
    }

    .says {
        .say {
            flex-direction: column-reverse;

            .image {
                width: 100%;
            }
            .textos {
                width: 100%;
                margin: 0 auto 20px auto;
            }
        }
    }

    footer {
        height: 1100px;

        .footer-content {
            height: 1100px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .icon {
                img {
                    width: 250px;
                    height: 250px;
                }
            }
     
            .categories {
                ul {
                    a {
                        font-size: 16px;
                    }
                }
            }

            .form {
                form {
                    max-width: 350px;

                    .contact-footer {
                    
                        width: 350px;
                    }

                    textarea {
                        max-width: 350px;
                    }
                }
            }



        }

    
    }
 
}


@media screen and (max-width: 500px) {
    .hero {
        .container-slide {
            flex-direction: column-reverse;
            flex-grow: 0;
        }
    }

    .people {
   
        .textos {
            
            p {
                margin-top: 10px;
                font-size: 14px;
            }
        }
        
    }


    .cards {
        .card {
            width: 85%;
            height: 250px;
        }
    }

    footer {
      
           .footer-content {
                .icon {
                    img {
                        width: 150px;
                        height: 150px;
                    }

                    .socials {
                        a {
                            
                            width: 30px;
                            height: 30px;
                            padding: 5px;
                            font-size: 14px;
                        }
                    }
                }
            

                .categories {
                    ul {
                        a {
                            font-size: 14px;
                        }
                    }
                }

                .form {
                    margin: 0;
                    form {
                    
                        max-width: 150px;

                        .contact-footer {
                    
                            width: 150px;
                        }
                    }
                }
           }
    }

}